.container-contact {
    background: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%);
    padding: 3rem 0;
}

.container-contact h4 {
    width: 100%;
    color: #FFF;
    padding-bottom: .5rem;
}

.container-contact p {
    text-align: center;
}

.containerInputs {
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerInputs input {
    width: 15rem;
    height: 2.2rem;
    margin: 0 .5rem;
    font-size: 1.5rem;
    padding: .5rem 1rem;
    border: 0;
    outline: 0;
    border-radius: 50px;
}

.contentButton {
    display: flex;
    justify-content: center;
    margin: 1rem 0;
}

.contentButton button {
    padding: 1rem 4rem;
    border-radius: 50px;
    outline: 0;
    font-family: Lato;
    background-color: #3F5EFB;
    font-size: 16px;
    color: #FFF;
    border: 0;
    cursor: pointer;
    border: 0;
    text-transform: capitalize;
}

@media (max-width:480px) {
    .containerInputs {
        flex-direction: column;
    }
    .containerInputs input {
        margin: 1rem 0;
    }
}
