.container-precios {
    padding: 5rem 0;
}
.grid-precios {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
    padding-bottom: 2rem;
}

.item-precio h4 span {
    color: #1400c8;
}

.item-precio h4 span.span2 {
    color: #b900b4;
}

.item-precio p {
    line-height: 1.5rem;
}
.item-precio:nth-of-type(1)
{
}
.containerPrecio {
    width: 5rem;
    height: 5rem;
    border-radius: 50px;
    margin: 1.5rem auto;
}

.btn-saber {
    padding: 1rem 2rem;
    font-size: 1rem;
    font-family: Lato;
    text-transform: capitalize;
    background: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%);
    animation: animacionbtn .7s infinite backwards;
    animation-timing-function: ease;
    color: #fFF;
    border: 0;
    outline: 0;
    cursor: pointer;
}

@keyframes animacionbtn{
    25%{
         transition: 300ms;
    background: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%);

    }
    35%{
        background: linear-gradient(45deg, #FC466B 0%, #3F5EFB 100%);
             transition: 300ms;

    }
    45%{
        background: linear-gradient(0deg, #FC466B 0%, #3F5EFB 100%);
             transition: 300ms;

    }
    55%{
        background: linear-gradient(45deg, #3F5EFB 0%, #FC466B 100%);
         transition: 300ms;

    } 
    65%{
        background: linear-gradient(90deg, #3F5EFB 0%, #FC466B 100%);
        transition: 300ms;

    }
}

@media ( max-width: 768px) {
    .grid-precios {
        grid-template-columns: auto;
        gap: 6rem;
    }
    .item-precio:nth-of-type(2) h4 {
        text-align: center;
        width: 100%;
    }
    .item-precio:nth-of-type(2) p {
        text-align: center;
        width: 100%;
    }
    .btn-saber {
        display: block;
        margin: 0 auto;
    }
}

