.side-footer {
    padding: 2rem 0;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
}

.box-red {
    font-family: Roboto;
    text-transform: capitalize;
    font-weight: 700;
    color: gray;
}

.boxlogo {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-decoration: none;
}

.boxlogo img {
    max-width: 40%;
}

.boxlogo p {
    font-size: 2rem;
    font-weight: 700;
}

@media (max-width:480px) {
    .side-footer {
        flex-direction: column;
    }
}