.containerHelloP {
    background-color: #f3f3f3;
    padding: 5rem 0;
    display: flex;
    justify-content: center;
}

.containerHello {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.containerHello span {
    color: #1400c8;
    /*background: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%);*/
}

.containerHello span.span2 {
    color: #b900b4;
    /*background: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%);*/
}

.hello {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hello ul {
    list-style: none;
    margin: 1rem 0;
}

.hello ul p {
    list-style: none;
    margin: 0;
    padding: 1rem 0;
    width: 80%;
    line-height: 1.5rem;
}

.hello .imageS {
    width: 100%;
    height: 100%;
    display: inherit;
    justify-content: center;
    align-items: center;
}

.hello .imageS img {
    max-width: 100%;
    width: 70%;
    height: 70%;
}

@media ( max-width: 768px) {
    .containerHello {
        grid-template-columns: auto;
        gap: 2rem;
    }
    .hello h4 {
        text-align: center;
        width: 100%;
    }
    .hello ul li p {
        width: 100%;
        text-align: center;
    }
}
