.container-images {
    padding: 2.5rem 0;
}

.grid-precios2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem;
    padding-bottom: 5rem;
}

.item-precio2 {
    background-color: #F3f3f3;
    padding: 1rem;
    border-radius: 6px;
    border: 2px solid #3F5EFB;
}

.item-precio2:nth-of-type(2) {
    background-color: #3F5EFB;
}

.item-precio2:nth-of-type(2) .contain-precio {
    background-color: #ffff;
}

.item-precio2:nth-of-type(2) .contain-precio p {
    color: #3F5EFB;
    font-weight: 700;
}

.item-precio2:nth-of-type(2) p.type {
    color: #fff;
}

.item-precio2:nth-of-type(2) ul.list-acti p.li {
    color: #fff !important;
}

.item-precio2:nth-of-type(2) button {
    background-color: #FFF;
    color: #3F5EFB;
}

.contain-precio {
    width: 5rem;
    height: 5rem;
    background-color: #3F5EFB;
    margin: 1rem auto;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contain-precio p {
    font-size: 1.5rem;
    font-family: "Roboto";
    font-weight: 700;
}

.item-precio2 p.type {
    font-family: Lato;
    color: #000;
    text-align: center;
    font-size: 2rem;
    text-transform: none;
}

.item-precio2 .list-acti {}

.list-acti p.li {
    text-align: center;
    color: gray;
    text-transform: capitalize;
    margin: 0;
}

.item-precio2 .container-button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
}

.container-button button {
    padding: 1rem 4rem;
    border-radius: 50px;
    outline: 0;
    font-family: Lato;
    background-color: #3F5EFB;
    font-size: 1rem;
    color: #FFF;
    border: 0;
    cursor: pointer;
    border: 0;
}

@media (max-width:768px) {
    .grid-precios2 {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}

@media (max-width:480px) {
    .grid-precios2 {
        grid-template-columns: repeat(1, 1fr);
        gap: 2rem;
    }
}