.containerServices {
    padding: 5rem 0;
}

.list-services {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 3rem;
}

.list-services .service {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.service img {
    max-width: 100%;
    margin-bottom: 1.5rem;
    width: 2000px;
}

.service .imageS {
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.service p {
    color: gray;
    text-align: center;
    margin: 0;
    line-height: 1.5rem;
}

@media ( max-width: 768px) {
    .list-services {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}

@media ( max-width: 480px) {
    .list-services {
        grid-template-columns: repeat(1, 1fr);
        gap: 2rem;
    }
}
