.containerPortafolio {
    padding: 5rem 0;
    padding-bottom: 2.5rem;
}

.listaBotones {
    width: 100%;
    display: flex;
    justify-content: center;
}

.listaBotones a {
    text-decoration: none;
    margin: 0 5rem;
    text-transform: capitalize;
    font-family: 'Roboto';
    color: gray;
}

.gridPorta {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
}

.itemP {
    border: 2px solid #ddd;
    border-radius: 10px;
    transition: 500ms;
    transition: 300ms;
}
.container7 {
    height: 15rem;
    width: 100%;
    background-color: blue;
    /*background: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%) !important;*/
    background-color: #FFF !important;
    border-radius: inherit;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container7 img {
    max-width: 80%;
    max-height: 80%;
    padding: 1rem;
}

.container3 {
    box-sizing: border-box;
    padding: 1rem 0;
    background-color: #f3f3f3;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
}

.container3 h4 {
    width: 100%;
    font-size: 1.3rem;
}

.container3 p {
    width: 100%;
    text-align: center;
    margin: 0;
    padding: .5rem 0;
}

.itemP:hover {
    -webkit-box-shadow: 10px 15px 28px -1px rgba(221, 221, 221, 1);
    -moz-box-shadow: 10px 15px 28px -1px rgba(221, 221, 221, 1);
    box-shadow: 0px 0px 78px 20px rgba(0,0,0,.2);
    cursor: pointer;
}

@media ( max-width: 768px) {
    .gridPorta {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media ( max-width: 480px) {
    .gridPorta {
        grid-template-columns: repeat(1, 1fr);
    }
}